body{
    background-color: black;
    img{
        position:fixed;
        position:center;
        font-size: 1000px;

    }
    
}
h1{
    color: blue;

}
p{
    color: white;
}


button{
    background-color: #3498dB;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    position:fixed;


}
button:active {
    background-color: #1c6ca4;
    transform: scale(0.95);
}
